body {
    background-color: black;
    background-size: cover; 
}

#text1 {
    color: brown;
}

#text2 {
    color: blue;
}

#text3 {
    color: yellow;
}

#text4 {
    color: green;
}

.title {
    font-size: 5rem;
    color: rgb(218, 127, 42);
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.left {
    float: left;
    margin: 10px;
}
.clear {
    clear: both;
}

#button {
    color: red;
    margin: 0 auto;
}