<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.html"></script>
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
<style>
    #table {
        background-color: rgb(195, 0, 255);
        border: 4px solid black;
        margin-left:auto ;
        margin-right: auto;
        width: 420px;
        height: 400px;
        color: white;
        text-align: center;
        
    }
</style>
<div id="father">
<div><h1 id="title">Let's make a quiz to find your's face</h1></div>

<div id="table">
    <h3 style="font-size: 1.5rem; color:wheat ;" id="ques"></h3>     
    <button style=" color:black ; background-color:springgreen ;width: 100px; height:50px ;" id="a1"></button>
    <button style="color:black ;background-color:white;width: 100px; height:50px ; " id="a2"></button>
    <br><br><br><br><br><br><br>
    <button>
    <a style="margin-left: auto; margin-right: auto; font-size: 1em; color:sienna;text-decoration:none" href="{{ url_for('quiz')}}">Reset</a>
    </button>
    <script src="{{ url_for('static',filename='quiz.js') }}"></script> 
</div>
</div>

</body>
</html>